/* <====== Landing Page Style ======> */ 

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.row.one{
    background-color: rgba(40, 2, 116, 1);
    width: 100%;
    height: auto;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.row.two{
    width: 100%;
    height: 600px;
}

.row.three{
    width: 100%;
    height: 840px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    background-color: rgba(233, 246, 255, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row.three h3 {
    font-size: 20px;
}

.row.four {
    width: 100%;
    height: 650px;
    background-color: rgba(65, 110, 255, 1);
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start; 
}


.row.five{
    width: 100%;
    height: 550px;
    background-color: rgba(40, 2, 116, 1);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.row.six{
    width: 100%;
    height: 40px;
    background-color: rgba(33, 66, 171, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col.col-1-row-1 img{
    width: 40px;
    height: 50px;
    padding-left: 50px;
}

.col.col-2-row-1 {
    display: flex; 
    font-family: Poppins;
    font-weight: bold;
    font-size: 15px;
    align-items: center; 
    padding-right: 2px;
}

.col.col-2-row-1 ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
}

.col.col-2-row-1 li {
    margin-left: 15px; 
    color: rgba(233, 246, 255, 1); 
    padding-left: 2px;
}

.col.col-2-row-1 button.login {
    padding-left: 28px; 
    padding-right: 28px;
    padding-top: 4px; 
    padding-bottom: 4px; 
    margin-left: 25px;
    margin-right: 14px;
    font-weight: 700;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background-color: rgba(254, 122, 54, 1);
    color: rgba(233, 246, 255, 1);
    border: none;
    border-radius: 6px;
}

.col.col-2-row-1 button.login:hover{
    border: 1px rgba(254, 122, 54, 1);
    background-color: white;
    color: rgba(254, 122, 54, 1);
    transition: background-color 0.2s ease;
}

.col.col-2-row-1 li:not(.login) {
    padding-right: 1px; 
    padding-top: 6px; 
    padding-bottom: 4px; 
}

.col.col-1-row-2{
    box-sizing: border-box;
}

.col.col-1-row-2 img{
    width: 100%;
    background-size: cover;
    height: 690px;
}

.col.col-1-row-3{
    flex: 1; 
    text-align: center; 
}

.col.col-2-row-3{
    flex: 1; 
    text-align: center; 
}

.col.col-3-row-3{
    flex: 1; 
    text-align: center; 
}

.col.col-1-row-4 {
    flex: 1; 
    max-width: 400px; 
    margin: 0 30px; 
    padding-left: 70px;
}

.col.col-2-row-4{
    max-width: 800px;
    flex: 1; 
    text-align: center; 
    font-family: "Poppin", sans-serif;
    color: rgba(233, 246, 255, 1); 
    text-align: center;
}

.col.col-2-row-4 h2{
    font-size: 35px;
    margin-top: 2px;
    padding-left: 20px;
    font-weight: 700;
    font-style: normal;
}

.col.col-2-row-4 p{
    font-size: 28px;
    font-weight: 600;
    padding-left: 20px;
    margin-top: -5px;
    text-align: start;
    font-style: normal;
}
.col.col-1-row-5{
    font-family: "Poppin", sans-serif;
    color: rgba(233, 246, 255, 1); 
    font-weight: 700;
    text-align: center;
}

.col.col-1-row-5 h1{
    flex: 1;
    font-size: 60px;
    font-weight: 800;
    padding-top: 15px;
    font-style: normal;
}

.col.col-1-row-5 h2{
    flex: 1;
    font-size: 30px;
    font-weight: 800;
    text-align: start;
    margin-top: -8px;
    padding-left: 100px;

}

.col.col-1-row-6{
    color: rgba(233, 246, 255, 1);
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.items-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.learn-more-1,.learn-more-2,.learn-more-3 {
    padding-left: 5px; 
    padding-right: 5px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin-left: 100px;
    margin-right: 100px;
    color: rgba(233, 246, 255, 1);
    background-color: rgba(254, 122, 54, 1);
    border-radius: 6px;
}

.lable-info{
    margin-top: 150px; 
    font-weight: 700;
    font-size: 40px;
}

.about-img{
    width: 400px;
    height: 500px;
}

.description-tas{
    flex: 1;
    padding-left: 100px;
    text-align: start;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: -5px;
}

.learn-more-tos{
    padding-left: 5px; 
    padding-right: 5px;
    padding-top: 15px; 
    padding-bottom: 15px; 
    margin-top: 30px;
    margin-left: 600px;
    margin-right: 600px;
    color: rgba(233, 246, 255, 1);
    background-color: rgba(254, 122, 54, 1);
    border-radius: 6px;
}

/* <====== TAS Style ======> */ 
body.tas-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tas-body .bg {
    background: url('../img/bg-image.jpg');
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
}

.tas-box{
    max-width: 500px;
    background-color: rgba(233, 246, 255, 1);
    padding: 25px 40px;
    opacity: 0.8;
    display: flex;
}

.tas-checkbox{
    margin-top: 12px;
}

.terms-description{
    padding: 0 15px;
    margin-top: -15px;
    margin-bottom: 10px;
    height: 550px;
    overflow-y: auto;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.terms-description h1{
    text-align: center;
}

.terms-description::-webkit-scrollbar{
    width: 4px;
    background-color: rgb(233, 246, 255, 1);
}

.terms-description::-webkit-scrollbar-thumb{
    background-color: rgba(254, 122, 54, 1);
}

.buttons-tas{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: none;
    margin-top: 27px;
    margin-bottom: 5px;
}

.btn-disagree:hover {
    border: 1px rgba(254, 122, 54, 1);
    background-color: white;
    color: rgba(254, 122, 54, 1);
    transition: background-color 0.2s ease;
}

.btn-accept:not(:disabled):hover {
    border: 1px rgba(254, 122, 54, 1);
    background-color: white;
    color: rgba(254, 122, 54, 1);
    transition: background-color 0.2s ease;
}

.btn-accept, .btn-disagree{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: rgba(254, 122, 54, 1);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 15px;
    margin: 0 -85px;
}

.btn-accept[disabled]{
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
    accent-color: rgba(254, 122, 54, 1);
    appearance: none;
    content: "";
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black; 
    border-radius: 3px; 
    transition: background-color 0.3s ease; 
}


input[type="checkbox"]:checked {
    background-color: rgba(254, 122, 54, 1); 
}


input[type="checkbox"]::before {
    content: ""; 
    display: inline-block;
    margin-bottom: 2.8px;
    margin-left: 0.7px;
    width: 10px; 
    height: 5px; 
    border-bottom: 2px solid white; 
    border-left: 2px solid white; 
    transform: rotate(-45deg); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

input[type="checkbox"]:checked::before {
    opacity: 1; 
}

/* <====== Login Style ======> */ 
body.login-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background: url('../img/bg-image.jpg');
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    z-index: -1;
}

.login-modal{
    display: block;
    position: absolute;
    background-color: rgba(233, 246, 255, 1);
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    padding: 75px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.login-modal h1{
    margin-top: -56px;
    margin-left: -35px;
}

.login-logo {
    height: 200px;
    width: 148;
    padding-left: 37px;
}

.login-modal form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-left: -25px;
    margin-bottom: 10px;
}

.input_field{
    padding: 6px 100px 6px 4px;
    margin-left: 25px;

}

.sign-in_button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: rgba(254, 122, 54, 1);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    padding: 8px 15px;
    margin: 10px 35px 0;
}

.sign-in_button:hover {
    border: 1px rgba(254, 122, 54, 1);
    background-color: white;
    color: rgba(254, 122, 54, 1);
    transition: background-color 0.2s ease;
}

form p:nth-of-type(1) {
    margin-top: 16px;
    text-align: center;
    margin-bottom: -5px;
}

form p:nth-of-type(2) {
    margin-top: 16px;
    text-align: center;
    margin-bottom: -22px;
}

.login-body .label-text {
    margin-left: -32px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  left: -10%;
  padding: 0 20px; 
}

/* <====== Register Style ======> */
body.register-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box{
    display: block;
    position: absolute;
    background-color: rgba(233, 246, 255, 1);
    top: 50%;
    left: 50%;
    width: 280px;
    height: 300px;
    transform: translate(-50%, -50%);
    padding: 125px;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.register-box form{
    display: flex;
    flex-direction: column;
}

.register-box h1{
    margin-top: -85px;
    margin-left: -88px;
}

.register-box .label-text{
    margin-left: -60px;
}

.register-field{
    margin-left: -15px;
    width: 350px;
    padding: 4px 5px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.sign-up_button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: rgba(254, 122, 54, 1);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    padding: 8px 15px;
    margin: 17px 35px 0;
}

.sign-up_button:hover {
    border: 1px rgba(254, 122, 54, 1);
    background-color: white;
    color: rgba(254, 122, 54, 1);
    transition: background-color 0.2s ease;
}